/* ----- Contents of this file: -----
 *  |basic layout| 
 *  |colors and typography| 
 *  |dynamic element classes| 
 *  |media queries| 
 */

/* Avoids counter-intuitive box size changes as per 
   https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/*  |basic layout| */

body {
  display: flex;
  flex-flow: column wrap;
}

  header {
    display: flex;
    align-self:center;
    margin: 1em 0 1em 0;
  }
  
  .add-book {
    margin: 0.5em 0 0.5em 0;
    align-self:center;
  }

  .book-cards {
    display: flex;
    flex-flow: column wrap;
    align-self:stretch;
    margin: 0.5em 1em 0.5em 1em;
  }

  .card {
    display: grid;
    grid-template-areas: "status title del-btn" 
                        "status author del-btn"
    ;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50% 50%;
    margin: 0.5em 0 0.5em 0;
  }
    .read-status {
      grid-area: status;
      justify-self: center;
      align-self: center;
      margin: 0 0.5em 0 0.5em;
    } 
    .title {
      grid-area: title;
      justify-self: center;
      align-self: center;
      margin: 0.5em 0.5em 0.2em 0.5em;
    }
    .author {
      grid-area: author;
      justify-self: center;
      align-self: center;
      margin: 0.2em 0.5em 0.5em 0.5em;
    }
    .delete-btn {
      grid-area: del-btn;
      justify-self: center;
      align-self: center;
      justify-self: center;
      align-self: center;
      margin: 0 0.5em 0 0.5em;
    }

/*  |colors and typography| */
body {
  /*Adding fallback fonts*/
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
}

  header {
  }
  
  .btn{
    background-color: #E46F1A;
    border: none;
    border-radius: 5px;
    color: #fffefa;
    padding: 0.5em 1em 0.6em 1em;
    font-size: 1.2rem;
    font-weight: 650;
  }

  .card.unread {
    border: solid 3px #1374be;
    border-radius: 6px;
    color: #1374be;
  }
  .card.read {
    border: solid 3px #408515;
    border-radius: 6px;
    color: #408515;
  }
    .read-status {
    } 
    .title {
      font-size: 1.2rem;
      font-weight: 550;
    }
    .author {
      font-weight: 450;
    }
    .delete-btn {
    }

/*  |dynamic element classes| */

/*  |media queries| */