/* ----- Contents of this file: -----
 *  |basic layout| 
 *  |colors and typography| 
 *  |dynamic element classes| 
 *  |media queries| 
 */

/* Avoids counter-intuitive box size changes as per 
   https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/*  |basic layout| */

body {
  display: flex;
  flex-flow: column wrap;
}

  header {
    display: flex;
    align-self:center;
    margin: 1em 0 1em 0;
    background-color: rgb(255, 205, 251);
    border: solid 1px red;
  }
  
  .add-book {
    margin: 0 0 1em 0;
    align-self:center;
    background-color: rgb(223, 255, 205);
    border: solid 1px red;
  }

  .book-cards {
    display: flex;
    flex-flow: column wrap;
    align-self:stretch;
    margin: 0.5em 1em 0.5em 1em;
    background-color: rgb(205, 239, 255);
  }

  .card {
    display: grid;
    grid-template-areas: "status title del-btn" 
                        "status author del-btn"
    ;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50% 50%;
    margin: 0.5em 0 0.5em 0;
    border: solid 1px red;
  }
    .read-status {
      grid-area: status;
      margin: 0 0.5em 0 0.5em;
      border: solid 1px rgb(57, 124, 41);
    } 
    .title {
      grid-area: title;
      margin: 0.5em 0.5em 0.2em 0.5em;
      border: solid 1px rgb(66, 63, 221);
    }
    .author {
      grid-area: author;
      margin: 0.2em 0.5em 0.5em 0.5em;
      border: solid 1px rgb(66, 63, 221);
    }
    .delete-btn {
      grid-area: del-btn;
      margin: 0 0.5em 0 0.5em;
      border: solid 1px rgb(66, 63, 221);
    }

/*  |colors and typography| */
body {
  font-family: 'Barlow', sans-serif;
}

/*  |dynamic element classes| */

/*  |media queries| */